<p id="notice"><%= notice %></p>

<h1>Listing Planes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rows</th>
      <th>Columns</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.name %></td>
        <td><%= plane.rows %></td>
        <td><%= plane.columns %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- create new plane. -->
<script id="newplaneView" type="text/template">
  <h2>Create Plane</h2>
  <form>
    <div>
      <label for="name">Name</label><br>
      <input id="name" placeholder="Name"></label>
    </div>
    <div>
      <label for="rows">Rows</label><br>
      <input type="number" id="rows" placeholder="Rows" required>
    </div>
    <div>
      <label for="columns">Columns</label><br>
      <input type="number" id="columns" placeholder="Columns" required>
    </div>
    </div><br>
      <button id="save-plane">Save</button>
      <button id="cancel-plane">Clear</button>
      <button id="create-plane">Create Plane</button>
  </form>
  <!-- <div id="show-plane"></div> -->
</script>

<!-- List of the current planes -->
<script id="planeListView" type="text/template">
  <h2>List of Planes:</h2>
</script>

<br>

<%= link_to 'New Plane', new_plane_path %>
